<!DOCTYPE html>
html
    head
        title Books
        link(rel='stylesheet' href='../stylesheets/style.css')
    body
        h1 Books        
        p 
            a(class='button' href='/books/new') Create New Book
        p
            form(method="post" action="search")
                input(type="text" name="search" id="search" placeholder="Search..." required)
                input(type="submit" value="Search 🔍" id="btn-search")
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each book in books
                    tr
                        td
                            a(href=`/books/${book.id}`) #{book.title}
                        td #{book.author}
                        td #{book.genre}
                        td #{book.year}
