extends layout.pug
    
block append head
    title Search Results

block content
    h1 Search Results for '#{searchTerm}'        
    a(href="/books/page/1") ⬅ Go back!
    
    if results.length > 0
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each result in results
                    tr
                        td
                            a(href=`/books/${result.id}`) #{result.title}
                        td #{result.author}
                        td #{result.genre}
                        td #{result.year}
    else
        p No results to show for your search critera!